.city-form {
  padding: 10px;
  margin: 15px;
}

.App {
  background: #cad6ed ;
  padding:20px;
}

.my-2 {
  font-size: 64px;
  line-height: 1;
}

.main-card {
  margin-bottom: 5px;
  
}

.mt-20{
  margin-top:20px;
}
.history-item:hover {
    color: red !important;
    width: '24px';
    height: '24px'
}
.favorite-item:hover {
    color: red !important;

}
.favorite-item-active{
  color:red;
}
.favorite-item-active:hover{
  color:gray;
}

.favorite-info-list {
  /* Base Layout & Resets */
  display: flex;
  padding: 0;
  border: 0;
  background-color: transparent;
  flex-grow: 1;
  margin-left: 1rem; /* Equal to ms-3 (16px) */
  justify-content: space-between;
}
.del-fav{
  color:red;

}
.del-fav:hover{
  color: gray;
}
@media (max-width: 767.98px) {
  .forecast-scroll-container {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding-bottom: 8px;
  }
  
  .forecast-scroll-container > div {
    flex-shrink: 0 !important;
    width: 100px !important; /* Forces the exact size on mobile */
  }
}